<template>
  <q-card class="no-padding expenses">
    <q-card-section>
      <div class="login">
        <h6 class="text-center">Create Budget</h6>
        <q-input outlined v-model="budget.name" label="Name"/>
        <q-input outlined v-model="budget.description" label="Description"/>
        <q-input outlined v-model="budget.amount" label="Amount"/>
        <q-input outlined v-model="budget.quantity" label="Quantity"/>
        <q-input outlined v-model="budget.category" label="Category"/>
      </div>
    </q-card-section>
    <q-card-actions class="action flex justify-between items-center">
      <q-btn @click.native="closePage()" class="no-border" color="negative">Cancel</q-btn>
      <q-btn @click.native="createBudget ? createBudgetSource() : editBudgetSource()" class="no-border" color="green">
        {{ createBudget ? 'Create' : 'Edit' }}
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'EditOrCreateBudget',
  props: ['createBudget', 'selectedBudget', 'user'],
  data() {
    return {
      budget: {
        name: null,
        description: null,
        amount: null,
        quantity: null,
        category: null,
        date: null
      }
    }
  },
  methods: {
    async createBudgetSource() {
      if (
        !this.budget.name ||
        !this.budget.description ||
        !this.budget.amount ||
        !this.budget.quantity ||
        !this.budget.category
      ) {
        this.$q.notify('Please fill in the required fields')
        return
      }
      const data = {
        user_id: this.user.id,
        name: this.budget.name,
        description: this.budget.description,
        amount: this.budget.amount,
        quantity: this.budget.quantity,
        category: this.budget.category,
        date: date.formatDate(new Date(), 'YYYY-MM-DD HH:mm:ss')
      }
      await this.$indexedDB.create('budget', data).then(
        response => {
          this.$q.notify(`Added new budget item to your budget`)
          this.closePage()
        },
        error => {
          console.log(error)
          this.$q.notify(`Error adding new budget item`)
        }
      )
    },
    async editBudgetSource() {
      if (
        !this.budget.name ||
        !this.budget.description ||
        !this.budget.amount ||
        !this.budget.quantity ||
        !this.budget.category
      ) {
        this.$q.notify('Please fill in the required fields')
        return
      }
      const data = {
        id: this.budget.id,
        user_id: this.user.id,
        name: this.budget.name,
        description: this.budget.description,
        amount: this.budget.amount,
        quantity: this.budget.quantity,
        category: this.budget.category,
        date: date.formatDate(new Date(), 'YYYY-MM-DD HH:mm:ss')
      }
      await this.$indexedDB.update('budget', data).then(
        response => {
          this.$q.notify(`Updated budget in your budget`)
          this.closePage()
        },
        error => {
          console.log(error)
          this.$q.notify(`Error updating budget item`)
        }
      )
    },
    closePage() {
      this.$emit('reload-budget')
      this.$emit('close-page')
    },
    prepopulate() {
      if (!this.createBudget) this.budget = this.selectedBudget
    }
  },
  mounted() {
    this.prepopulate()
  }
}
</script>

<style lang="stylus" scoped>
.expenses
  margin 30px
.login
  padding 15px 15px
.action
  padding 0 30px 30px 30px

</style>
