<template>
  <q-card class="no-padding expenses">
    <q-card-section>
      <div class="login">
        <h6 class="text-center">Create Expense</h6>
        <q-input outlined v-model="expense.name" label="Name"/>
        <q-input outlined v-model="expense.description" label="Description"/>
        <q-input outlined v-model="expense.amount" label="Amount"/>
        <q-input outlined v-model="expense.quantity" label="Quantity"/>
        <q-input outlined v-model="expense.category" label="Category"/>
      </div>
    </q-card-section>
    <q-card-actions class="action flex justify-between items-center">
      <q-btn @click.native="closePage()" class="no-border" color="negative">Cancel</q-btn>
      <q-btn @click.native="createExpense ? createExpenseSource() : editExpenseSource()" class="no-border" color="green">
        {{ createExpense ? 'Create' : 'Edit' }}
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'EditOrCreateExpense',
  props: ['createExpense', 'selectedExpense', 'user'],
  data() {
    return {
      expense: {
        name: null,
        description: null,
        amount: null,
        quantity: null,
        category: null,
        date: null
      }
    }
  },
  methods: {
    async createExpenseSource() {
      if (
        !this.expense.name ||
        !this.expense.description ||
        !this.expense.amount ||
        !this.expense.quantity ||
        !this.expense.category
      ) {
        this.$q.notify('Please fill in the required fields')
        return
      }
      const data = {
        user_id: this.user.id,
        name: this.expense.name,
        description: this.expense.description,
        amount: this.expense.amount,
        quantity: this.expense.quantity,
        category: this.expense.category,
        date: date.formatDate(new Date(), 'YYYY-MM-DD HH:mm:ss')
      }
      await this.$indexedDB.create('expenses', data).then(
        response => {
          this.$q.notify(`Added new expense item to your budget`)
          this.closePage()
        },
        error => {
          console.log(error)
          this.$q.notify(`Error adding new expense item`)
        }
      )
    },
    async editExpenseSource() {
      if (
        !this.expense.name ||
        !this.expense.description ||
        !this.expense.amount ||
        !this.expense.quantity ||
        !this.expense.category
      ) {
        this.$q.notify('Please fill in the required fields')
        return
      }
      const data = {
        id: this.expense.id,
        user_id: this.user.id,
        name: this.expense.name,
        description: this.expense.description,
        amount: this.expense.amount,
        quantity: this.expense.quantity,
        category: this.expense.category,
        date: date.formatDate(new Date(), 'YYYY-MM-DD HH:mm:ss')
      }
      await this.$indexedDB.update('expenses', data).then(
        response => {
          this.$q.notify(`Updated expense item in your budget`)
          this.closePage()
        },
        error => {
          console.log(error)
          this.$q.notify(`Error updating expense item`)
        }
      )
    },
    closePage() {
      this.$emit('reload-expenses')
      this.$emit('close-page')
    },
    prepopulate() {
      if (!this.createExpense) this.expense = this.selectedExpense
    }
  },
  mounted() {
    this.prepopulate()
  }
}
</script>

<style lang="stylus" scoped>
.expenses
  margin 30px
.login
  padding 15px 15px
.action
  padding 0 30px 30px 30px

</style>
