<template>
  <div class="q-pa-md">
    <q-table
      title="Expenses"
      :data="computedExpenses"
      :columns="columns"
      row-key="name"
    >
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="id" :props="props"><span class="text-primary text-bold">{{ props.row.id }}</span></q-td>
          <q-td key="name" :props="props">{{ props.row.name }}</q-td>
          <q-td key="description" :props="props">{{ props.row.description }}</q-td>
          <q-td key="amount" :props="props">{{ props.row.amount }}</q-td>
          <q-td key="quantity" :props="props">{{ props.row.quantity }}</q-td>
          <q-td key="category" :props="props">{{ props.row.category }}</q-td>
          <q-td key="date" :props="props">{{ props.row.date }}</q-td>
          <q-td key="delete" :props="props">
            <q-icon @click="deleteExpense(props.row.id)" name="delete" color="negative" size="24px" title="Delete" />
          </q-td>
          <q-td key="edit" :props="props">
            <q-icon @click="editExpense(props.row)" name="edit" color="secondary" size="24px" title="Edit" />
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
export default {
  name: 'ExpenseList',
  props: ['expenses', 'user'],
  data() {
    return {
      columns: [
        { name: 'id', label: 'ID', field: 'id', sortable: true },
        { name: 'name', label: 'Name', field: 'name' },
        { name: 'description', label: 'Description', field: 'description' },
        { name: 'amount', label: 'Amount', field: 'amount' },
        { name: 'quantity', label: 'Quantity', field: 'quantity' },
        { name: 'category', label: 'Category', field: 'category', sortable: true },
        { name: 'date', label: 'Date', field: 'date', sortable: true },
        { name: 'delete', label: 'Delete' },
        { name: 'edit', label: 'Edit' }
      ]
    }
  },
  computed: {
    computedExpenses() {
      return this.expenses
    }
  },
  methods: {
    async deleteExpense(selectedExpenseID) {
      await this.$indexedDB.delete('expenses', selectedExpenseID).then(
        response => {
          this.$q.notify(`Expense item with ID ${selectedExpenseID} has been deleted from your expenses`)
          this.$emit('reload-expenses')
        },
        error => {
          console.log(error)
          this.$q.notify(`Error deleting expense item`)
        }
      )
    },
    editExpense(selectedExpense) {
      this.$emit('edit-expense', selectedExpense)
    }
  }
}
</script>

<style lang="stylus" scoped>
.login
  padding 15px 15px
.action
  padding 0 30px 30px 30px
</style>
