<template>
  <q-card class="no-padding income">
    <q-card-section>
      <div class="login">
        <h6 class="text-center">Create Income</h6>
        <q-input outlined v-model="income.name" label="Name"/>
        <q-input outlined v-model="income.description" label="Description"/>
        <q-input outlined v-model="income.amount" label="Amount"/>
        <q-input outlined v-model="income.quantity" label="Quantity"/>
        <q-input outlined v-model="income.category" label="Category"/>
      </div>
    </q-card-section>
    <q-card-actions class="action flex justify-between items-center">
      <q-btn @click.native="closePage()" class="no-border" color="negative">Cancel</q-btn>
      <q-btn @click.native="createIncome ? createIncomeSource() : editIncomeSource()" class="no-border" color="green">
        {{ createIncome ? 'Create' : 'Edit' }}
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'EditOrCreateIncome',
  props: ['createIncome', 'selectedIncome', 'user'],
  data() {
    return {
      income: {
        name: null,
        description: null,
        amount: null,
        quantity: null,
        category: null,
        date: null
      }
    }
  },
  methods: {
    async createIncomeSource() {
      if (
        !this.income.name ||
        !this.income.description ||
        !this.income.amount ||
        !this.income.quantity ||
        !this.income.category
      ) {
        this.$q.notify('Please fill in the required fields')
        return
      }
      const data = {
        user_id: this.user.id,
        name: this.income.name,
        description: this.income.description,
        amount: this.income.amount,
        quantity: this.income.quantity,
        category: this.income.category,
        date: date.formatDate(new Date(), 'YYYY-MM-DD HH:mm:ss')
      }
      await this.$indexedDB.create('income', data).then(
        response => {
          this.$q.notify(`Added new income item to your budget`)
          this.closePage()
        },
        error => {
          console.log(error)
          this.$q.notify(`Error adding new income item`)
        }
      )
    },
    async editIncomeSource() {
      if (
        !this.income.name ||
        !this.income.description ||
        !this.income.amount ||
        !this.income.quantity ||
        !this.income.category
      ) {
        this.$q.notify('Please fill in the required fields')
        return
      }
      const data = {
        id: this.income.id,
        user_id: this.user.id,
        name: this.income.name,
        description: this.income.description,
        amount: this.income.amount,
        quantity: this.income.quantity,
        category: this.income.category,
        date: date.formatDate(new Date(), 'YYYY-MM-DD HH:mm:ss')
      }
      await this.$indexedDB.update('income', data).then(
        response => {
          this.$q.notify(`Updated ncome item in your budget`)
          this.closePage()
        },
        error => {
          console.log(error)
          this.$q.notify(`Error updating income item`)
        }
      )
    },
    closePage() {
      this.$emit('reload-income')
      this.$emit('close-page')
    },
    prepopulate() {
      if (!this.createIncome) this.income = this.selectedIncome
    }
  },
  mounted() {
    this.prepopulate()
  }
}
</script>

<style lang="stylus" scoped>
.income
  margin 30px
.login
  padding 15px 15px
.action
  padding 0 30px 30px 30px

</style>
