<template>
  <q-page>
    <div class="full-width" v-if="showList">
      <transition-group
        appear
        enter-active-class="animated bounceIn"
      >
        <div class="banner" key="banner">
          <h6 class="no-padding no-margin text-bold">Budget</h6>
          <q-btn class="no-border" @click="showList = false" color="green">Add New</q-btn>
        </div>
        <budget-list
          key="table"
          :user="user"
          :budget="budget"
          @reload-budget="() => getBudget()"
          @edit-budget="(data) => editBudget(data)"
        />
      </transition-group>
    </div>
    <div class="full-width" v-else>
      <transition
        appear
        enter-active-class="animated bounceIn"
      >
        <edit-or-create-budget
          :user="user"
          :create-budget="createBudget"
          :selected-budget="selectedBudget"
          @reload-budget="() => getBudget()"
          @close-page="() => closePage()"
        />
      </transition>
    </div>
  </q-page>
</template>

<script>
import EditOrCreateBudget from '../components/Budget/EditOrCreateBudget'
import BudgetList from '../components/Budget/BudgetList'

export default {
  name: 'BudgetExpenses',
  components: {
    EditOrCreateBudget,
    BudgetList
  },
  data() {
    return {
      user: null,
      createBudget: true,
      showList: true,
      budget: [],
      selectedBudget: null
    }
  },
  methods: {
    getUser() {
      this.user = JSON.parse(localStorage.getItem('user'))
    },
    editBudget(selectedBudget) {
      console.log('opening editing page', selectedBudget)
      this.createBudget = false
      this.selectedBudget = selectedBudget
      this.showList = false
    },
    closePage() {
      this.showList = true
      this.selectedBudget = null
      this.createBudget = true
    },
    async getBudget() {
      await this.$indexedDB.selectAll('budget').then(
        response => {
          this.budget = response.data
        },
        error => {
          console.log(error)
        }
      )
    }
  },
  mounted() {
    this.getUser()
    this.getBudget()
  }
}
</script>

<style lang="stylus" scoped>
.banner
  width 100%
  margin-top 30px
  padding 16px
  display flex
  justify-content space-between
  align-items center
</style>
