<template>
  <q-page class="dashboard">
    <transition-group
      appear
      enter-active-class="animated bounceIn"
      leave-active-class="animated bounceOut"
    >
      <q-card class="container no-padding" key="charts">
        <q-card-section>
          <div class="dash-section">
            <h5 class="text-center">Expense Comparisons</h5>
            <graphs
              :income-total="incomeTotal"
              :budget-total="budgetTotal"
              :expense-total="expenseTotal"
            />
          </div>
        </q-card-section>
      </q-card>
      <q-card class="container no-padding" key="chart-details">
        <q-card-section>
          <div class="dash-section">
            <h4 class="text-center">Dashboard</h4>
            <p class="flex justify-between items-center">
              <span class="text-secondary">Income</span>
              <span>R {{incomeTotal}}</span>
            </p>
            <p class="flex justify-between items-center">
              <span class="text-negative">Expenses</span>
              <span>R {{expenseTotal}}</span>
            </p>
            <p class="flex justify-between items-center">
              <span class="text-primary">Budget</span>
              <span>R {{budgetTotal}}</span>
            </p>
            <p class="flex justify-between items-center">
              <span class="text-secondary">Savings</span>
              <span v-if="savingsTotal >= 0">R {{savingsTotal}}</span>
              <span class="text-red" v-else>R {{savingsTotal}}</span>
            </p>
          </div>
        </q-card-section>
      </q-card>
    </transition-group>
  </q-page>
</template>

<script>
import Graphs from '../components/Graphs'

export default {
  name: 'Dashboard',
  components: { Graphs },
  data() {
    return {
      user: null,
      income: [],
      expenses: [],
      budget: []
    }
  },
  computed: {
    incomeTotal() {
      return this.formatInt(this.income)
    },
    expenseTotal() {
      return this.formatInt(this.expenses)
    },
    budgetTotal() {
      return this.formatInt(this.budget)
    },
    savingsTotal() {
      return (parseFloat(this.budgetTotal) - parseFloat(this.expenseTotal)).toFixed(2)
    }
  },
  methods: {
    async getUser() {
      this.user = await JSON.parse(localStorage.getItem('user'))
    },
    getRcords() {
      this.getExpenses()
      this.getIncome()
      this.getBudget()
    },
    formatInt(data) {
      return data.reduce((acc, a, i) => {
        acc += parseFloat(a.amount)
        return acc
      }, 0).toFixed(2)
    },
    async getExpenses() {
      await this.$indexedDB.selectAll('expenses').then(
        response => {
          this.expenses = response.data
        },
        error => {
          console.error(error)
        }
      )
    },
    async getIncome() {
      await this.$indexedDB.selectAll('income').then(
        response => {
          this.income = response.data
        },
        error => {
          console.error(error)
        }
      )
    },
    async getBudget() {
      await this.$indexedDB.selectAll('budget').then(
        response => {
          this.budget = response.data
        },
        error => {
          console.error(error)
        }
      )
    }
  },
  mounted() {
    this.getUser()
    this.getRcords()
  }
}
</script>

<style lang="stylus" scoped>
.dashboard
  margin 30px
.container
  margin-bottom 30px
.dash-section
  padding 0 20px 20px 20px
</style>
