<template>
  <q-page>
    <div class="full-width" v-if="showList">
      <transition-group
        appear
        enter-active-class="animated bounceIn"
      >
        <div class="banner" key="banner">
          <h6 class="no-padding no-margin text-bold">Expenses</h6>
          <q-btn class="no-border" @click="showList = false" color="green">Add New</q-btn>
        </div>
        <expense-list
          key="table"
          :user="user"
          :expenses="expenses"
          @reload-expenses="() => getExpenses()"
          @edit-expense="(data) => editExpense(data)"
        />
      </transition-group>
    </div>
    <div class="full-width" v-else>
      <transition
        appear
        enter-active-class="animated bounceIn"
      >
        <edit-or-create-expense
          :user="user"
          :create-expense="createExpense"
          :selected-expense="selectedExpense"
          @reload-expenses="() => getExpenses()"
          @close-page="() => closePage()"
        />
      </transition>
    </div>
  </q-page>
</template>

<script>
import EditOrCreateExpense from '../components/Expenses/EditOrCreateExpense'
import ExpenseList from '../components/Expenses/ExpenseList'

export default {
  name: 'Expenses',
  components: {
    EditOrCreateExpense,
    ExpenseList
  },
  data() {
    return {
      user: null,
      createExpense: true,
      showList: true,
      expenses: [],
      selectedExpense: null
    }
  },
  methods: {
    getUser() {
      this.user = JSON.parse(localStorage.getItem('user'))
    },
    editExpense(selectedExpense) {
      console.log('opening editing page', selectedExpense)
      this.createExpense = false
      this.selectedExpense = selectedExpense
      this.showList = false
    },
    closePage() {
      this.showList = true
      this.selectedExpense = null
      this.createExpenses = true
    },
    async getExpenses() {
      await this.$indexedDB.selectAll('expenses').then(
        response => {
          this.expenses = response.data
        },
        error => {
          console.error(error)
        }
      )
    }
  },
  mounted() {
    this.getUser()
    this.getExpenses()
  }
}
</script>

<style lang="stylus" scoped>
.banner
  width 100%
  margin-top 30px
  padding 16px
  display flex
  justify-content space-between
  align-items center
</style>
