<template>
  <q-page>
    <div class="full-width" v-if="showList">
      <transition-group
        appear
        enter-active-class="animated bounceIn"
      >
        <div class="banner" key="banner">
          <h6 class="no-padding no-margin text-bold">Income</h6>
          <q-btn class="no-border" @click="showList = false" color="green">Add New</q-btn>
        </div>
        <income-list
          key="table"
          :user="user"
          :income="income"
          @reload-income="() => getIncome()"
          @edit-income="(data) => editIncome(data)"
        />
      </transition-group>
    </div>
    <div class="full-width" v-else>
      <transition
        appear
        enter-active-class="animated bounceIn"
      >
        <edit-or-create-income
          :user="user"
          :create-income="createIncome"
          :selected-income="selectedIncome"
          @reload-income="() => getIncome()"
          @close-page="() => closePage()"
        />
      </transition>
    </div>
  </q-page>
</template>

<script>
import EditOrCreateIncome from '../components/Income/EditOrCreateIncome'
import IncomeList from '../components/Income/IncomeList'

export default {
  name: 'Income',
  components: {
    EditOrCreateIncome,
    IncomeList
  },
  data() {
    return {
      user: null,
      createIncome: true,
      showList: true,
      income: [],
      selectedIncome: null
    }
  },
  methods: {
    getUser() {
      this.user = JSON.parse(localStorage.getItem('user'))
    },
    editIncome(selectedIncome) {
      console.log('opening editing page', selectedIncome)
      this.createIncome = false
      this.selectedIncome = selectedIncome
      this.showList = false
    },
    closePage() {
      this.showList = true
      this.selectedIncome = null
      this.createIncome = true
    },
    async getIncome() {
      await this.$indexedDB.selectAll('income').then(
        response => {
          this.income = response.data
        },
        error => {
          console.error(error)
        }
      )
    }
  },
  mounted() {
    this.getUser()
    this.getIncome()
  }
}
</script>

<style lang="stylus" scoped>
.banner
  width 100%
  margin-top 30px
  padding 16px
  display flex
  justify-content space-between
  align-items center
</style>
