<template>
  <q-page class="flex flex-center">
    <transition
      appear
      enter-active-class="animated bounceIn"
      leave-active-class="animated bounceOut"
    >
      <q-card class="no-padding">
        <q-card-section>
          <div class="login">
            <h4 class="text-center">Login</h4>
            <q-input outlined v-model="email" label="Email" />
            <q-input outlined v-model="password" label="Password" type="password" />
          </div>
        </q-card-section>
        <q-card-actions class="action">
          <q-btn class="full-width no-border" @click="login()" color="green">Login</q-btn>
        </q-card-actions>
      </q-card>
    </transition>
  </q-page>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      email: null,
      password: null
    }
  },
  methods: {
    async login() {
      if (!this.email || !this.password) {
        this.$q.notify('Please add all the required fields')
        return
      }
      await this.$indexedDB.select('users', this.email).then(
        response => {
          console.log(response)
          if (!response.data) {
            this.$q.notify('User not found or details entered are incorrect')
          } else if (response.data.password !== this.password) {
            this.$q.notify('Passwords are wrong')
          } else {
            this.$q.notify('Passwords are correct')
            this.clearFields()
            localStorage.setItem('user', JSON.stringify(response.data))
            this.$root.$emit('setUser', response.data)
            this.$router.push({ name: 'dashboard' })
          }
        },
        error => {
          console.error(error)
        }
      )
    },
    clearFields() {
      this.email = null
      this.password = null
    }
  }
}
</script>

<style lang="stylus" scoped>
.login
  padding 15px 15px
.action
  padding 0 30px 30px 30px
</style>
