<template>
  <q-page class="flex flex-center">
    <transition
      appear
      enter-active-class="animated bounceIn"
      leave-active-class="animated bounceOut"
    >
      <q-card class="no-padding">
        <q-card-section>
          <div class="login">
            <h4 class="text-center">Register</h4>
            <q-input outlined v-model="userData.name" label="Name"/>
            <q-input outlined v-model="userData.surname" label="Surname"/>
            <q-input outlined v-model="userData.email" label="Email"/>
            <q-input outlined v-model="userData.currency" label="Currency Symbol"/>
            <q-input outlined v-model="userData.password" type="password" label="Password"/>
          </div>
        </q-card-section>
        <q-card-actions class="action">
          <q-btn @click.native="register()" class="full-width no-border" color="green">Register</q-btn>
        </q-card-actions>
      </q-card>
    </transition>
  </q-page>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'Register',
  data() {
    return {
      userData: {
        name: null,
        surname: null,
        email: null,
        password: null,
        currency: 'R'
      }
    }
  },
  methods: {
    async register() {
      if (
        !this.userData.name ||
        !this.userData.surname ||
        !this.userData.email ||
        !this.userData.password ||
        !this.userData.currency
      ) {
        this.$q.notify('Please add all the required fields')
        return
      }
      let data = {
        id: new Date().getTime(),
        name: this.userData.name,
        surname: this.userData.surname,
        email: this.userData.email,
        currency: this.userData.currency,
        date: date.formatDate(new Date(), 'YYYY-MM-DD HH:mm:ss'),
        password: this.userData.password
      }
      await this.$indexedDB.create('users', data).then(
        response => {
          this.$q.notify(`${this.userData.name} ${this.userData.surname} has been added to your database`)
          this.setUser()
        },
        error => {
          console.error(error)
          this.$q.notify(`Unable to add data\r\n${this.userData.name} ${this.userData.surname} already exists in your database!`)
        }
      )
    },
    async setUser() {
      await this.$indexedDB.select('users', this.userData.email).then(
        response => {
          localStorage.setItem('user', JSON.stringify(response.data))
          this.$root.$emit('setUser', response.data)
          this.clearData()
          this.$router.push({ name: 'dashboard' })
        },
        error => {
          console.error(error)
        }
      )
    },
    clearData() {
      this.userData = {
        name: null,
        surname: null,
        email: null,
        password: null
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.login
  padding 15px 15px
.action
  padding 0 30px 30px 30px
</style>
