<template>
  <q-page class="full-width">
    <transition
      appear
      enter-active-class="animated bounceIn"
      leave-active-class="animated bounceOut"
    >
      <q-card class="settings" v-if="user">
        <q-card-section>
          <h5 class="header-text text-capitalize">Settings</h5>
          <q-input outlined v-model="userData.name" label="Name"/>
          <q-input outlined v-model="userData.surname" label="Surname"/>
          <q-input outlined v-model="userData.email" label="Email"/>
          <q-input outlined v-model="userData.currency" label="Currency Symbol"/>
        </q-card-section>
        <q-card-actions class="action">
          <q-btn class="full-width no-border" @click="saveDetails(false)" color="green">Save</q-btn>
        </q-card-actions>
        <q-card-section>
          <h5 class="header-text text-capitalize">Password Change</h5>
          <q-input outlined v-model="userData.password" type="password" label="Password"/>
          <q-input outlined v-model="confirmPassword" type="password" label="Confirm Password"/>
          <p class="text-negative" v-if="passwordsDoNotMatch">Passwords do no match</p>
        </q-card-section>
        <q-card-actions class="action">
          <q-btn class="full-width no-border" @click="saveDetails(true)" color="green">Change Password</q-btn>
        </q-card-actions>
      </q-card>
    </transition>
  </q-page>
</template>

<script>
export default {
  name: 'Settings',
  data() {
    return {
      user: null,
      confirmPassword: null,
      userData: {
        name: null,
        surname: null,
        email: null,
        password: null,
        currency: 'R'
      }
    }
  },
  computed: {
    passwordsDoNotMatch() {
      if (this.userData.password !== this.confirmPassword) return true
      return false
    }
  },
  methods: {
    async saveDetails(changePassword) {
      if (changePassword && !this.userData.password) {
        this.$q.notify('Please add you new password details')
        return
      }
      if (this.userData.password && changePassword) {
        if (this.userData.password && !this.confirmPassword) {
          this.$q.notify('Please confirm your passwords')
          return
        }
        if (this.userData.password !== this.confirmPassword) {
          this.$q.notify('Passwords do not match')
          return
        }
      }
      await this.$indexedDB.delete('users', this.user.email).then(
        response => {
          this.insertUser()
        },
        error => {
          console.log(error)
        }
      )
    },
    async insertUser() {
      let data = {
        id: this.user.id,
        name: this.userData.name,
        surname: this.userData.surname,
        email: this.userData.email,
        currency: this.userData.currency,
        date: this.userData.date,
        password: this.userData.password ? this.userData.password : this.user.password
      }
      await this.$indexedDB.create('users', data).then(
        response => {
          this.resetUser()
          this.userData.password = null
          this.userData.confirmPassword = null
          this.$q.notify('User details updated')
        },
        error => {
          console.log(error)
        }
      )
    },
    async resetUser() {
      await this.$indexedDB.select('users', this.userData.email).then(
        response => {
          this.user = response.data
          if (!response.data) {
            this.$q.notify('User not updated')
          } else {
            localStorage.setItem('user', JSON.stringify(response.data))
            this.$root.$emit('setUser', response.data)
          }
        },
        error => {
          console.log(error)
        }
      )
    },
    getUser() {
      this.user = JSON.parse(localStorage.getItem('user'))
      this.userData = JSON.parse(localStorage.getItem('user'))
      this.userData.password = null
      this.$q.loading.hide()
    }
  },
  beforeCreate() {
    this.$q.loading.show()
    setTimeout(() => { this.getUser() }, 500)
  }
}
</script>

<style lang="stylus" scoped>
.settings
  margin 20px
.action
  padding 0 15px 30px 15px
.header-text
  margin 0 0 30px 0
</style>
