<template>
  <div class="flex column justify-between">
    <div class="bar-container text-center">
      <span>Savings as % of <br/> Actual Income</span>
      <div class="col-12 bg-grey bar">
        <div class="bg-primary flex flex-center bar-level" :style="savingsWidth">
          <span class="text-white" v-if="savingsPercentage > 10">{{savingsPercentage.toFixed(2)}}%</span>
        </div>
      </div>
    </div>
    <div class="bar-container text-center">
      <span>Budgeted Expenses as % of <br/> Actual Income</span>
      <div class="col-12 bg-grey bar">
        <div class="bg-secondary flex flex-center bar-level" :style="budgetExpenseWidth">
          <span class="text-white" v-if="budgetExpensePercentage > 10">{{budgetExpensePercentage.toFixed(2)}} %</span>
        </div>
      </div>
    </div>
    <div class="bar-container text-center">
      <span>Expenses as % of <br/> Actual Income</span>
      <div class="col-12 bg-grey bar">
        <div class="bg-negative flex flex-center bar-level" :style="incomeExpenseWidth">
          <span class="text-white" v-if="incomeExpensePercentage > 10">{{incomeExpensePercentage.toFixed(2)}} %</span>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
</style>

<script>
export default {
  name: 'Graphs',
  props: ['incomeTotal', 'expenseTotal', 'budgetTotal'],
  computed: {
    savingsPercentage() {
      return (((this.incomeTotal - this.expenseTotal) / this.incomeTotal) * 100)
    },
    incomeExpensePercentage() {
      return ((this.expenseTotal / this.incomeTotal) * 100)
    },
    budgetExpensePercentage() {
      return ((this.budgetTotal / this.incomeTotal) * 100)
    },
    savingsWidth() {
      return `width: ${this.savingsPercentage}%`
    },
    budgetExpenseWidth() {
      return `width: ${this.budgetExpensePercentage}%`
    },
    incomeExpenseWidth() {
      return `width: ${this.incomeExpensePercentage}%`
    }
  }
}
</script>

<style lang="stylus" scoped>
.bar-container
  margin-bottom 20px
.bar
  height 50px
.bar-level
  height 50px
</style>
