<template>
  <div id="q-app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      user: null
    }
  },
  computed: {
    currentUser() {
      return JSON.parse(localStorage.getItem('user'))
    }
  },
  methods: {
    redirectUser() {
      this.user = JSON.parse(localStorage.getItem('user'))
      if (this.user) this.$router.push({ name: 'dashboard' })
      if (!this.user) this.$router.push({ name: 'login' })
    }
  },
  mounted() {
    this.redirectUser()
  }
}
</script>

<style>
</style>
