<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Budget App
        </q-toolbar-title>

        <div>v 0.0.1</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-primary text-white text-bold"
    >
      <q-list>
        <q-item-label header class="flex" @click="leftDrawerOpen = !leftDrawerOpen">
          <q-item-section avatar>
            <q-icon name="close" color="white"/>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-white">Close Menu</q-item-label>
          </q-item-section>
        </q-item-label>
        <q-item clickable to="/" v-if="!currentUser">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Login</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/register" v-if="!currentUser">
          <q-item-section avatar>
            <q-icon name="person_add" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Register</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/dashboard" v-if="currentUser">
          <q-item-section avatar>
            <q-icon name="dashboard" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Dashboard</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/expenses" v-if="currentUser">
          <q-item-section avatar>
            <q-icon name="money_off" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Expenses</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/income" v-if="currentUser">
          <q-item-section avatar>
            <q-icon name="monetization_on" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Income</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/budget-expenses" v-if="currentUser">
          <q-item-section avatar>
            <q-icon name="business_center" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Budget</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/settings" v-if="currentUser">
          <q-item-section avatar>
            <q-icon name="settings" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Settings</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable @click.native="logout()" v-if="currentUser">
          <q-item-section avatar>
            <q-icon name="dashboard" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Logout</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      currentUser: null
    }
  },
  methods: {
    logout() {
      this.currentUser = null
      localStorage.removeItem('user')
      this.$router.push({ name: 'login' })
    },
    setUserData(data) {
      this.currentUser = data
    }
  },
  mounted() {
    this.currentUser = JSON.parse(localStorage.getItem('user'))
    this.$root.$on('setUser', data => this.setUserData(data))
  },
  beforeDestroy() {
    this.$root.$off('setUser', data => this.setUserData(data))
  }
}
</script>

<style lang="stylus" scoped>
.q-item
  &.q-router-link--active, &--active
    color #b3ffff !important
</style>
